

.blog{
    margin: 0 auto;
    width: 912px;  
    margin-top: 46px;
}


.article_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.article_title h1 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    text-align: left;    
    color: #8A53FF;
    text-transform: uppercase;
}
.article_title h2 {
    font-family: Changa One;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: -0.03em;   
    color: #434343;
}

.article_autor{
    display: flex;
    align-items: center;
}

.article_autor img{
    margin-right: 10px;
    width: 36px;
    height: 36px;
}

.autor_text{
    display: flex;
    flex-direction: column; 
    text-align: left;
}

.autor_text h3{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    color: #495367;
}

.autor_text h4{
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #A2A7B1;
}

.article_video{
    position: relative;
}

.article_video img{
    width: 100%;
    height: 540px;
    border-radius: 10px;
}

.play-button{
    position: absolute;
    top: 40%;
    left: 44%;
    opacity: 0.6; 
}
.play-button img {
    width: 104px;
    height: 104px;
    cursor: pointer;
}

.matterhorn_text{
    position: absolute;
    left: 270px;
    top: 28%;
    font-size: 70px;
    font-family: 'Black Signature';
    color: white;
}

.clincher{
    margin-top: 35px;
}

.clincher h3{
    font-family: Changa One;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343;
    margin-bottom: 10px;
}

.clincher p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;    
    color: #434343;
}



