.featured{
    min-height: 552px;
    max-width: 1440px; /* Ограничение максимальной ширины */
    display: flex;
    padding-top: 107px;
    padding-left: 140px;
    padding-bottom: 107px;
    padding-right: 140px;
}

.featured_img_container{
    padding-right: 40px;
}

.feature_img{
    width: 540px;
    height: 338px;
}

.featured_destination_container{
    padding: 30px;
  
}
.destination_text p{
    margin-bottom: 8px;
}

.destination_text h1{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #8A53FF;
    text-transform: uppercase;
}

.destination_text h2{
    font-family: Changa One;
    font-size: 39px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #434343;
}

.destination_text h3{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #434343;
}

.destination_btn{
    width: 36px;
    height: 36px;
    top: 234.43px;
    left: 57.41px;
    border: none;
    background-image: url('/page1/images/Play.svg');
    background-size: cover;
    background-color: transparent;
}

.destination_link{
    display: flex;
    align-items: center;
}
.destination_link a{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #8A53FF;
    margin-left: 8px;
}

@media (max-width: 1200px) {
    .featured {
        flex-direction: column; 
    }
    .destination_text{
        max-width: 520px;
    }
}


