<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/page1/styles/header.css" rel="stylesheet">
    <link href="/page1/styles/hero.css" rel="stylesheet">
    <link href="/page1/styles/featured.css" rel="stylesheet">
    <link href="/page1/styles/discover.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <div class="header_elements_row">
                <div class="header_logo">
                    <img class="Talking" src="/page1/images/Talking.svg">
                    <img class="Travel" src="/page1/images/Travel.svg">
                </div>
                <div class="header_menu_options_row">
                    <nav class="header_links">
                        <ul > 
                            <li ><a href="#" class="selected">Home</a></li>
                            <li ><a href="#">Story</a></li>
                            <li ><a href="#">Gallery</a></li>
                            <li ><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="seperator "></div>
                    <img class="search" src="/page1/images/Search.svg">
                    <img class="user" src="/page1/images/User.svg">
                </div>
            </div> 
    </header>
    <main>
        <section class="hero">
            <div class="hero_content">
                <div class="hero_text">
                    <div class="hero_title">
                        <h1><span class="special">Let’s talk</span> about your next trip!</h1>
                    </div>
                    <div class="hero_description">
                        <p>Share your favorite travel destination and we will feature it in our next blog!</p>
                    </div>
                </div>
                <div class="hero_buttons">
                    <button class="share_btn">
                        Share your story
                    </button>
                    <div class="watch_btn_container">
                        <button class="watch_btn"></button>
                        <a>Watch highlights</a>
                    </div>
                </div>
            </div>
            <div class="hero_img">
                <img src="/page1/images/Hero container.jpg" alt="stylesheet">
            </div>
        </section>
        <section class="featured">
            <div class="featured_img_container">
                <div class="feature_img">
                    <img src="/page1/images/feature_img.jpg" alt="stylesheet">
                </div>
            </div> 
            <div class="featured_destination_container">
                <div class="destination_text">
                    <p><h1>Featured Destination</h1></p>
                    <p><h2>Our swiss adventure blog</h2></p>
                    <p><h3>Visiting the swiss alps? Want to know the requirements on travelling to Switzerland during the pandemic? Our blog might help! </h3></p>
                </div>
                <div class="destination_link">
                    <button class="destination_btn"></button>
                    <a>Watch Now</a>
                </div>
            </div>
        </section>
        <section class="discover">
           <div class="discover_header">
                <p><h1>Join our adventures</h1></p>
                <p><h2>Discover the world with us</h2></p>
           </div>
           <div class="discover_cards">
                <div class="frame1">
                    <div class="iceland_card">
                        <img src="/page1/images/iseland.png" alt="" style="width: 268.5px; height: 317.05px; border-radius: 8px 0px 0px 0px;">
                        <div class="iceland_text">
                            <p><h3>Iceland</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div>
                    <div class="italy_card">
                        <img src="/page1/images/italy.png" alt="">
                        <div class="italy_text">
                            <p><h3>Italy</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div>
                </div>
                <div class="frame2">
                    <div class="dubai_card">
                        <img src="/page1/images/dubai.png" alt="">
                        <div class="dubai_text">
                            <p><h3>Dubai</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div> 
                    <div class="patagonia_card">
                        <img src="/page1/images/patagonia.png" alt="">
                        <div class="patagonia_text">
                            <p><h3>Patagonia</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div>           
                </div>
           </div>
        </section>
        <section class="share">
               <div class="share_form">
                    <div class="form_header">
                        <h1>Let’s build a community</h1>
                        <h2>Join our next destination</h2>
                    </div>
                    <div class="form_body">
                        <div class="form_text">
                            <h3>Share your travels</h3>
                            <h4>Suggest a new travel destination that you want to see and we will feature it in our blog.</h4>
                        </div>
                        <div class="form_fields">
                            <input type="text" placeholder="Destination name">
                            <select><option value="" disabled selected>Country of Destination</option></select>
                            <input type="text" placeholder="Your name">
                            <select><option value="" disabled selected>Shooting category</option></select>
                            <input type="text" placeholder="Describe what kind of photos you want to focus on">
                        </div>
                        <button>Submit</button>
                    </div>
               </div>
         </section>
    </main>
</body>
</html>