<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/page1/styles/header.css" rel="stylesheet">
    <link href="/page1/styles/hero.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <div class="header_elements_row">
                <div class="header_logo">
                    <img class="Talking" src="/page1/images/Talking.svg">
                    <img class="Travel" src="/page1/images/Travel.svg">
                </div>
                <div class="header_menu_options_row">
                    <nav class="header_links">
                        <ul > 
                            <li ><a href="#" class="selected">Home</a></li>
                            <li ><a href="#">Story</a></li>
                            <li ><a href="#">Gallery</a></li>
                            <li ><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="seperator "></div>
                    <img class="search" src="/page1/images/Search.svg">
                    <img class="user" src="/page1/images/User.svg">
                </div>
            </div> 
    </header>
    <main>
        <section class="hero">
            <div class="hero_content">
                <div class="hero_text">
                    <div class="hero_title">
         
                    </div>
                    <div class="hero_description">

                    </div>
                </div>
                <div class="hero_buttons">

                </div>

            </div>
        </section>
    </main>
</body>
</html>