header{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 119px;
    padding-right: 119px;
    align-items: center;
}

.header_elements_row{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.header_menu_options_row {
    display: flex;
    align-items: center;
}

.header_links{
    color: #2d7ad1;
}

.selected {
    color: #8A53FF;
}

a {
    text-decoration: none;
    font-family: 'Roboto'; 
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: center;
    color: #495367;
}

.header_links ul {
    display: flex; 
    list-style-type: none;
}

.header_links li {
    margin-right: 18px;
}

.header_logo{
    width: 100px;
    height: 64px;
}

.seperator {
    margin-right: 18px;
    width: 0px;
    height: 18.53px;
    border: 4px 0px 0px 0px;
    border: 0.79px solid #EEEEEE
}

.search{
    width: 20px;
    height: 20px;
    margin-right: 18px;
}

.user{
    width: 24px;
    height: 24px;  
}


