<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../styles/base/reset.css" rel="../stylesheet">
    <link href="../styles/base/header.css" rel="stylesheet">
    <link href="../styles/home/hero.css" rel="stylesheet">
    <link href="../styles/home/featured.css" rel="stylesheet">
    <link href="../styles/home/discover.css" rel="stylesheet">
    <link href="../styles/base/share.css" rel="stylesheet">
    <link href="../styles/home/recent.css" rel="stylesheet">
    <link href="../styles/base/footer.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Changa+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
            <div class="header_elements_row">
                <a href="layouts/index.html" class="header_logo">
                    <img class="Talking" src="../images/base/talking-logo.svg">
                    <img class="Travel" src="../images/base/travel-logo.svg">
                </a>
                <div class="header_menu_options_row">
                    <nav class="header_links">
                        <ul > 
                            <li ><a href="index.html" class="selected">Home</a></li>
                            <li ><a href="story.html">Story</a></li>
                            <li ><a href="#">Gallery</a></li>
                            <li ><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="seperator "></div>
                    <a href="#"><img class="search" src="../images/base/search-icon.svg"></a>
                    <a href="#"><img class="user" src="../images/base/user-icon.svg"></a>
                </div>
            </div> 
    </header>
    <main>
        <section class="hero" >
            <div class="hero_content">
                <div class="hero_text">
                    <div class="hero_title">
                        <h1><span class="special">Let’s talk</span> about your next trip!</h1>
                    </div>
                    <div class="hero_description">
                        <p>Share your favorite travel destination and we will feature it in our next blog!</p>
                    </div>
                </div>
                <div class="hero_buttons">
                    <button class="share_btn">
                        Share your story
                    </button>
                    <div class="watch_btn_container">
                        <a href="story.html" class="watch_btn" ></a>
                        <a href="story.html">Watch highlights</a>
                    </div>
                </div>
            </div>
            <div class="hero_img">
                <img src="../images/home/hero-bg.jpg" alt="Hero container">
            </div>
        </section>
        <section class="featured" id="featureSection">
            <div class="featured_img_container">
                <div class="feature_img">
                    <img src="../images/home/feature_img.jpg" alt="stylesheet">
                </div>
            </div> 
            <div class="featured_destination_container">
                <div class="destination_text">
                    <p><h1>Featured Destination</h1></p>
                    <p><h2>Our swiss adventure blog</h2></p>
                    <p><h3>Visiting the swiss alps? Want to know the requirements on travelling to Switzerland during the pandemic? Our blog might help! </h3></p>
                </div>
                <div class="destination_link">
                    <a href="story.html" class="destination_btn"></a>
                    <a href="story.html">Watch Now</a>
                </div>
            </div>
        </section>
        <section class="discover">
           <div class="discover_header">
                <p><h1>Join our adventures</h1></p>
                <p><h2>Discover the world with us</h2></p>
           </div>
           <div class="discover_cards">
                <div class="frame1">
                    <div class="iceland_card">
                        <img src="../images/home/iceland.png" alt="" style="width: 268.5px; height: 317.05px; border-radius: 8px 0px 0px 0px;">
                        <div class="iceland_text">
                            <p><h3>Iceland</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div>
                    <div class="italy_card">
                        <img src="../images/home/italy.png" alt="">
                        <div class="italy_text">
                            <p><h3>Italy</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div>
                </div>
                <div class="frame2">
                    <div class="dubai_card">
                        <img src="../images/home/dubai.png" alt="">
                        <div class="dubai_text">
                            <p><h3>Dubai</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div> 
                    <div class="patagonia_card">
                        <img src="../images/home/patagonia.png" alt="">
                        <div class="patagonia_text">
                            <p><h3>Patagonia</h3></p>
                            <p><h4>Discover</h4></p>
                        </div>
                    </div>           
                </div>
           </div>
        </section>
        <section class="share">
               <div class="share_form">
                    <div class="form_header">
                        <h1>Let’s build a community</h1>
                        <h2>Join our next destination</h2>
                    </div>
                    <div class="form_body">
                        <div class="form_text">
                            <h3>Share your travels</h3>
                            <h4>Suggest a new travel destination that you want to see and we will feature it in our blog.</h4>
                        </div>
                        <div class="form_fields">
                            <input type="text" placeholder="Destination name">
                            <select><option value="" disabled selected>Country of Destination</option></select>
                            <input type="text" placeholder="Your name">
                            <select><option value="" disabled selected>Shooting category</option></select>
                            <input type="text" placeholder="Describe what kind of photos you want to focus on">
                        </div>
                        <button>Submit</button>
                    </div>
               </div>
               <div class="share_img">
                <img src="../images/base/share.jpg" alt="Share">
            </div>
         </section>
         <section class="recent">
            <div class="recent_titles">
                <h1>catch up to our posts</h1>
                <h2>Recent story entries</h2>
            </div>
            <div class="story_block">
                <div class="stories_left">
                    <div class="big_story_card">
                        <img src="../images/home/big-story-image.jpg" alt="Big Story Image">
                        <div class="big_story_card_body">
                            <div class="big_story_card_text">
                                <h3>Zermatt, Switzerland</h3>
                                <p>Marvel on the beauty of the iconic Matterhorn. Find the best places 
                                    to stay that has the best views of this peak...</p>
                            </div>
                            <button class="big_story_card_play_btn"></button>
                        </div>
                    </div>
                </div>
                <div class="stories_right">
                    <div class="story_card">
                        <img src="../images/home/tuscany.jpg" alt="Tuscany image">
                        <div class="story_card_text">
                            <h3>Tuscany, Italy</h3>
                            <p>The amazing Tuscany is home to famous Renaissance art and architecture
                                and a vast scenic landscape. 
                                <a href="#"><span style="color: blueviolet;">view full blog...</span></a></p>
                        </div>
                    </div>
                    <div class="story_card">
                        <img src="../images/home/kyoto.jpg" alt="Kyoto image">
                        <div class="story_card_text">
                            <h3>Kyoto, Japan</h3>
                            <p>Kyoto is well known for its temples, gardens, 
                                Shinto shrines and wooden houses. It’s time to visit tokyo. 
                                <a href="#"><span style="color: blueviolet;">view full blog...</span></a></p>
                        </div>
                    </div>
                    <div class="story_card">
                        <img src="../images/home/lofoten.jpg" alt="Lofoten image">
                        <div class="story_card_text">
                            <h3>Lofoten Islands, Norway</h3>
                            <p>Featuring razor-sharp peaks housing the arctic landscape. This astonishing 
                                island is perfect for your next postcard. 
                                <a href="#"><span style="color: blueviolet;">view full blog...</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer_elements_row">
            <p>© 2022, Talking Travel. All Rights Reserved.</p>
            <div class="footer_menu_options_row">
                <nav class="footer_links">
                    <ul > 
                        <li ><a href="index.html">Home</a></li>
                        <li ><a href="story.html">Blog</a></li>
                        <li ><a href="#">Gallery</a></li>
                        <li ><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </div> 
    </footer>
</body>
</html>